@import "tailwindcss";

.jumbotron-background-color {
    background: #0070C0;
    background: radial-gradient(circle, rgba(0, 112, 192, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

button {
    cursor: pointer;
}